body{
    
    background-color: white;
  transition: background-color 1s ease;
}



/* Container for the toggle */
.toggle-switch {
    
    position: relative;
    display: inline-block;
    margin-left: 0%;
    width: 50%;
    height: 50%;
    
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {

    position: absolute;
    cursor: pointer;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
    background-image:url(https://lh3.googleusercontent.com/d/1Jpml6H9td7O5qwqjCd8VLZcRYRPf95ac);
    width: 56px;
    height: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: aliceblue;
    transition: 2s;
    
}

/* The circular slider */
.slider::before {
    content: "";
    opacity: 90%;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 2.5px;
    bottom: 2.8px;
    background-color: white;
      border-radius: 50%;
    transition: 2s;

}

/* Toggled state */
.toggle-switch input:checked+.slider {
    transition: 2s;
    background-image:url(https://lh3.googleusercontent.com/d/1PSYQRiymLYFuikauGz5UANvTYZGnl032);
    transition: bacground-image 2s;
}

.toggle-switch input:checked+.slider::before {
    transition: 2s;
    transform: translateX(35px);
    
}